@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.loader {
  z-index: 99;
  display: flex;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .icon-logo {
    width: 300px;
  }

  .spinner {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 7px solid transparent;
    animation: animate-spinner 0.7s linear infinite;
    border-right-color: rgb(38, 38, 199);
    margin: 30px 0;
  }
  .loader-text {
    font-size: 30px;
  }
}
.not-load {
  display: none;
}

@keyframes animate-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  width: 100%;
  .header {
    transition: all 0.1s ease;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .logo {
      text-align: center;
      margin: 20px 0;
      .logo-icon {
        width: 100px;
      }
    }
    .input {
      height: 50px;
      display: flex;

      margin: 20px auto;
      input {
        height: 100%;
        width: 90%;
        outline: none;
        border: none;
        text-transform: capitalize;
      }
      label {
        position: absolute;
        margin-top: 15px;
        margin-left: 25px;
        transition: all 0.3s ease;
        user-select: none;
        cursor: text;
      }
      input:focus + label,
      input:valid + label {
        margin-top: -15px;
        font-size: 12px;
      }
      .icon {
        height: 100%;
        width: 5%;
        color: #2626c7;
        display: flex;
        align-items: center;
      }
      width: 600px;
      border-bottom: 4px solid rgb(38, 38, 199);
    }
  }
  .search-header {
    margin: 30px auto;
    max-width: 800px;
    flex-direction: unset;
    .logo {
      margin: 10px;
      img {
        width: 75px;
      }
      h1 {
        font-size: 20px;
      }
    }
  }
}
.app-icon {
  width: 200px;
}
.app-icon-container {
  width: 200px;
}
.main-app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  .header-app {
    display: flex;
    flex-wrap: wrap;
    img {
      border-radius: 20px;
    }
  }

  .desc {
    max-width: 330px;
    margin: 0 20px;
    h3 {
      font-size: 23px;
    }
    p {
      margin: 2px;
    }
    div {
      display: flex;
      align-items: center;
      * {
        margin: 3px;
      }
      p {
        color: rgb(104 89 89);
        font-size: 13px;
      }
    }
  }
  .download {
    display: flex;
    flex-direction: column;
    .btn-download {
      text-align: center;
      margin: 10px 0;
      padding: 15px 40px;
      background: linear-gradient(230deg, rgb(82 82 231), rgb(44 42 147));
      color: #fff;
      text-decoration: none;
      border-radius: 30px;
      font-size: 18px;
    }
  }
}
main {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .result {
    cursor: pointer;
    width: 300px;
    text-align: center;
    margin: 10px 5px;
    img {
      border-radius: 20px;
    }
    .app-name {
      font-size: 24px;
      margin: 3px 0;
    }
  }
  div {
    text-align: center;
  }
}
.memory-info {
  display: flex;
  justify-content: space-around;
  font-size: 13px;
  color: rgb(65, 65, 65);
}
.rating {
  display: inherit;
  align-items: center;
  img {
    margin: 1px;
    height: 14px;
  }
  p {
    font-size: 13px;
    color: #777;
  }
}
.spinner-app {
  display: flex;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  span {
    width: 70px;
    height: 70px;
    border: 6px solid transparent;
    border-top-color: #2626c7;
    border-radius: 50%;
    animation: animate-spinner 0.5s linear infinite;
  }
}
@media only screen and (max-width: 650px) {
  header {
    .header {
      .input {
        .icon {
          width: 23px;
        }
        width: 90%;
      }
    }
  }
  .app-icon-container {
    width: 90%;
  }
}
@media only screen and (max-width: 870px) {
  .app-icon {
    width: 150px;
    height: auto;
  }
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
  background-color: #3232cc;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}
