@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.loader {
  z-index: 99;
  display: flex;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .icon-logo {
    width: 300px;
  }

  .spinner {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 7px solid transparent;
    animation: animate-spinner 0.7s linear infinite;
    border-right-color: rgb(38, 38, 199);
    margin: 30px 0;
  }
  .loader-text {
    font-size: 30px;
  }
}
.not-load {
  display: none;
}

@keyframes animate-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  width: 100%;
  .header {
    transition: all 0.1s ease;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .logo {
      text-align: center;
      margin: 20px 0;
      .logo-icon {
        width: 100px;
      }
    }
    .input {
      height: 50px;
      display: flex;

      margin: 20px auto;
      input {
        height: 100%;
        width: 90%;
        outline: none;
        border: none;
        text-transform: capitalize;
      }
      .icon {
        height: 100%;
        width: 5%;
        color: rgb(38, 38, 199);
        display: flex;
        align-items: center;

        .search-icon {
        }
      }
      width: 600px;
      border-bottom: 4px solid rgb(38, 38, 199);
    }
  }
  .search-header {
    margin: 30px auto;
    max-width: 800px;
    flex-direction: unset;
    .logo {
      margin: 10px;
      img {
        width: 75px;
      }
      h1 {
        font-size: 20px;
      }
    }
  }
}
.app-icon {
  width: 200px;
}
.main-app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  .header-app {
    display: flex;
    flex-wrap: wrap;
    img {
      border-radius: 20px;
    }
  }

  .desc {
    margin: 15px;
    * {
      margin: 2px 1px;
    }
    div {
      display: flex;
    }
  }
  .download {
    display: flex;
    flex-direction: column;
    .btn-download {
      text-align: center;
      margin: 10px 0;
      padding: 15px 40px;
      background: linear-gradient(230deg, rgb(43 43 223), rgb(30 29 90));
      color: #fff;
      text-decoration: none;
      border-radius: 30px;
      font-size: 23px;
    }
  }
}
